.login{
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
 url('https://images.pexels.com/photos/3098619/pexels-photo-3098619.jpeg') no-repeat center;
    flex-direction: column;
    background-size: cover;
    color: white;
    align-items: center;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    border: none;
 background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  color: #333333; /* Dark text for better readability */
    border-radius: 5px; 
}
.loginInput::placeholder {
    color: #666666; /* Darker placeholder text */
}
.loginInput:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Blue glow on focus */
    border: 1px solid rgba(81, 203, 238, 1);
}
.loginButton {
  position: relative;
  overflow: hidden;
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.loginRegisterButton{
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    background-color:#00BCD4;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;}
.loginRegisterButton:hover{
    background-color: #0097A7;
}



