.Register{
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
 url('https://images.pexels.com/photos/3631711/pexels-photo-3631711.jpeg') no-repeat center;
    flex-direction: column;
    background-size: cover;
    color: white;
    align-items: center;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    border: none;
 background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  color: #333333; /* Dark text for better readability */
    border-radius: 5px; 
}
.registerInput::placeholder {
    color: #666666; /* Darker placeholder text */
}
.registerInput:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Blue glow on focus */
    border: 1px solid rgba(81, 203, 238, 1);
}
.registerButton{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color:#333333;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;}
.registerButton:hover{
    background-color: #000000;
}
.registerLoginButton{
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    background-color:#00BCD4;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;}
.registerLoginButton:hover{
    background-color: #0097A7;
}



