.header{
   position: relative;
  width: 100%;
  height: 60vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  z-index: o;
}
.headerTitle{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Lora', serif;
color: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.headerTitleSm{
   position: absolute;
   top: 18%;
   font-size: 20px;
}
.headerTitleLg{
    font-size: 48px;
  font-weight: bold;
  margin-top: 5px; 
}
.headerimg{
     width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  pointer-events: none; 
}


@media only screen and (max-width: 600px) {
  .header {
  position: relative;
  z-index: 1;
}

.headerimg{
  pointer-events: none; 
    background-size: cover;
    background-position: center;

}
}

